.filters {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 16px;
}

.filterDropdown {
    position: absolute;
    background-color: white;
    left: 170px;
    width: 90px;
    /* border: 1px solid gainsboro; */
}
#options {
    border: 1px solid gainsboro;
    margin: none;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: small;
}
#options:hover {
box-shadow: 0 0 12px gainsboro;
border: 2px solid gainsboro;
}
#button{
    width: 110px;
}
.label{
    text-transform: capitalize;
}